<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<form th:action="@{/signup}" method="post">
    <label>Enter your first name: </label><br/>
    <input type="text" name="firstName"/><br/><br/>
    <label>Enter your last name: </label><br/>
    <input type="text" name="lastName"/><br/><br/>
    <label>Enter your user name: </label><br/>
    <input type="text" name="userName"/><br/><br/>
    <label>Enter your date of birth: </label><br/>
    <input type="date" name="dateOfBirth"/><br/><br/>
    <label>Enter your bio: </label><br/>
    <input type="text" name="bio"/><br/><br/>
    <label>Enter your password: </label><br/>
    <input type="password" name="password"/><br/><br/>
    <input type="submit">
</form>
</body>
</html>